<h1>Home</h1>

<div class="home-wrapper">
  <div class="home-table-topline">
    <span>Your Swedbank overview</span>
    <div class="home-table-topline-actions">
      <a href="#">
        <img src="assets/pdf.svg" />
        PDF
      </a>
      <a href="#">
        <img src="assets/pdf.svg" />
        XSL
      </a>
    </div>
  </div>

  <table class="home-table">
    <thead>
      <tr>
        <th>Account</th>
        <th class="align-right">Balance</th>
        <th class="align-right">Credit</th>
        <th class="align-right">Reserved</th>
        <th class="align-right">Available</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="#">Siim Tamm</a>
          EE752200221057734534
        </td>
        <td class="align-right">3 342 000.00</td>
        <td class="align-right">20.00</td>
        <td class="align-right">725.00</td>
        <td class="align-right">900.56 EUR</td>
      </tr>
      <tr>
        <td>
          <a href="#">Marju Lepik</a>
          EE752200221057734534
        </td>
        <td class="align-right">50.90</td>
        <td class="align-right">2 000.00</td>
        <td class="align-right"></td>
        <td class="align-right">3 000.00 EUR</td>
      </tr>
      <tr>
        <td>
          <a href="#">Liina Roosipõld</a>
          EE752200221057734534
        </td>
        <td class="align-right">12 041.00</td>
        <td class="align-right">20.00</td>
        <td class="align-right"></td>
        <td class="align-right">1 300.12 EUR</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Total:</td>
        <td class="align-right">5 456.56</td>
        <td class="align-right">456.56</td>
        <td colspan="2" class="align-right">
          <span class="home-table-sum">456.56</span>
           EUR
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="home-teasers-wrapper">
  <div class="home-teasers">
    <div class="home-teaser">
      <div class="home-teaser-title">
        Open
      </div>
      <div class="home-teaser-content">
        <h5>One of the core values of Swedbank</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>

    <div class="home-teaser">
      <div class="home-teaser-title yellow">
        Caring
      </div>
      <div class="home-teaser-content">
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <a href="#">Read more</a>
      </div>
    </div>

    <div class="home-teaser">
      <div class="home-teaser-title purple">
        Simple
      </div>
      <div class="home-teaser-content">
        <ul>
          <li class="purple">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li class="purple">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        </ul>
      </div>
    </div>
  </div>
</div>