<div class="sb-welcome-container">
  <div class="sb-welcome">
    <div class="sb-welcome-hello">
      Hello world!
    </div>
    <div class="sb-welcome-disclaimer">
      <h3>Welcome to Swedbank!</h3>
      <p>
        With about seven million private customers and more than 500 000 corporate customers, Swedbank is the leading bank for
        the many households and businesses. As a major bank, we are a significant part of the financial system and play an important role in the local communities
        we serve. By addressing environmental and social risks in our business we contribute to more sustainable companies and
        communities. Our sustainability strategy is based on integrating sustainability in our core processes, in lending and
        investment decisions, in procurements and in our payment flows.
      </p>
      <div class="sb-welcome-actions">
        <a href="#">Read more</a>
        <ui-button title="Go"></ui-button>
      </div>
    </div>
  </div>
</div>